<!DOCTYPE <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <title>Home Page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ">
    <div class="container">
      <div class="col-md-12 display-1 text-primary text-center rounded-circle font-weight-bold p-4" style="background-color: black">
        Article Friendly
      </div>
    </div>
  </nav>
  <div class="container" style="font-family: 'Times New Roman', Times, serif">
    <div class="row">
      <div class="col-md-12  bg-dark rounded mt-1">
        <div class="h2 text-white mt-2 text-center"> Welcome to my site:
          <button id="scrape" type="button" class="btn btn-outline-primary">Get Some Articles</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 p-0">
        <!-- need to add a data-types so when click happens i can identify which article was clicked -->

        {{{body}}}

      </div>
    </div>
    <!-- Button trigger modal -->
    </button>

    <!-- Modal -->
    <div class="modal fade " id="articleComments" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color:bisque">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Comment:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{!-- notes go here --}}
            <blockquote class="blockquote text-center">
              <footer id="commentTitle" class="blockquote-footer">Someone famous in </footer>
              <p class="mb-0" id="commentBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                erat a ante.</p>
            </blockquote>
            <button id="delete" type="button" class="btn btn-secondary btn-block">Delete</button>
            <hr>
            {{!-- submition entry goes here --}}
            <form style="background-color:blanchedalmond">
              <div class="form-group">
                <label for="exampleFormControlInput1">Title</label>
                <input type="email" class="form-control" id="newTitle" placeholder="Title">
              </div>
              <div class="form-group">
                <label for="exampleTextarea">New comment</label>
                <textarea class="form-control" id="newComment" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            <button id="submit" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="./js/main.js"></script>
</body>

</html>