
{{#each articles}}
    <div class="card-header bg-primary ">
        <div class="h3 text-white" id="articleTitle">
            Article Tittle: {{title}}
        </div>
    </div>
    <div class="card-body h4">
        <div class="float-left">
            <img src={{image}} alt="article image" class="img-thumbnail" style="height: 200px;">
        </div>
        <div class="h4 ml-3 mt-2">
            <p id="articleSummary">{{summary}}</p></div>
    </div>

{{/each}}

