
{{#each articles}}
<div class="card p-0 mb-4">
    <div class="card-header p-2 titles" data-id={{_id}} style="background-color:gray" >
        <div class="h3 text-white" >
            * {{title}} *
            <br>
            <h6 class="font-weight-bold text-dark float-right">click title to post comment</h6>
        </div>
    </div>
    <div class="card-body h5">
        <div class="float-left">
            <img src="https://i2.wp.com/www.gahtan.com/alan/images/bs00971_.gif" alt="article image" class="img-thumbnail mr-5" style="height: 200px;">
        </div>
        <div class="h4 mt-2 p-5">
            <a href={{link}}> {{link}}</a>
        </div>
    </div>

</div>

{{/each}}

